In [1]:
# Importing required libraries
import json
import numpy as np
import pandas as pd
from tqdm import tqdm
import yfinance as yf
import pyfredapi as pf
import functions as fun
import importlib as imp
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings("ignore")

# Setting a path to the directory
directory = ''

# Fixing API key for the FRED and receiving hyperparams for sample modifications
from configparser import ConfigParser
config = ConfigParser()
config.read(directory + 'config.cfg')
api_key = config.get('fred', 'api_key')
lags = json.loads(config.get('params', 'lags'))
log = bool(config.get('params', 'log'))
st_sc = bool(config.get('params', 'st_sc'))

In [13]:
imp.reload(fun)

### Target preparation

In [51]:
# https://haus.com/resources/the-common-haus-price-index  ->  Download full data series

# Importing original dataset
target = pd.read_csv(directory + 'Data/metro_chpi.csv')
target[['City', 'StatArea']] = target['msaname'].str.split(', ', n = 1, expand = True)
target['date'] = pd.to_datetime(target['date'])
target.rename(columns = {'CHPI': 'target'}, inplace = True)

# Creation of statarea dictionary
msas = target.drop_duplicates(['msa', 'msaname'])[['msa', 'msaname', 'City', 'StatArea']]
msas['MinDate'] = msas['msa'].apply(lambda x: target[target['msa'] == x]['date'].min())
msas['MaxDate'] = msas['msa'].apply(lambda x: target[target['msa'] == x]['date'].max())
msas['NumberOfEntries'] = msas['msa'].apply(lambda x: target[target['msa'] == x]['date'].count())
msas.to_parquet(directory + 'Data/statareas.parquet', index = False)

# Creating of target dataset, calculating of the WoW metrics and saving to parquet
target_cl = pd.DataFrame()
for msa in tqdm(msas['msa'].unique()):
    target_cl_msa = target[target['msa'] == msa][['date', 'msa', 'target']]
    target_cl_msa['dyn'] = target_cl_msa['target'] / target_cl_msa['target'].shift(1)
    target_cl_msa['anom'] = target_cl_msa['dyn'].apply(lambda x: 1 if (x < 0.9) or (x > 1.1) else 0)
    if sum(target_cl_msa['anom'] == 1) > 0:
        target_cl_msa = target_cl_msa[target_cl_msa['date'] > target_cl_msa[target_cl_msa['anom'] == 1]['date'].max()]
    for lag in lags:
        target_cl_msa[f'target_{lag}_week_logdyn'] = np.log(target_cl_msa['target'] / target_cl_msa['target'].shift(lag))
        target_cl_msa[f'target_{lag}_week_fut'] = target_cl_msa['target'].shift(-lag)
    target_cl = pd.concat([target_cl, target_cl_msa])
target_cl.dropna(thresh = len(target_cl.columns) - len(lags) + 1, inplace = True)
target_cl.drop(columns = ['dyn', 'anom'], inplace = True)
target_cl.to_parquet(directory + 'Data/target.parquet', index = False)
target_cl

100%|██████████| 100/100 [00:00<00:00, 121.73it/s]

,date,msa,target,target_4_week_logdyn,target_4_week_fut,target_13_week_logdyn,target_13_week_fut,target_26_week_logdyn,target_26_week_fut
2185,2010-07-30,10740,176393.23,-0.008935,172995.00,NaN,170855.50,NaN,156235.36
2275,2010-08-06,10740,175488.00,-0.010134,172917.64,NaN,170583.94,NaN,155807.58
2367,2010-08-13,10740,175171.64,-0.015085,172888.78,NaN,170844.59,NaN,155399.05
2460,2010-08-20,10740,173994.03,-0.015986,172072.75,NaN,168636.14,NaN,154773.42
2554,2010-08-27,10740,172995.00,-0.019453,171954.47,NaN,168068.27,NaN,154553.50
...,...,...,...,...,...,...,...,...,...
66165,2023-01-27,41700,283514.75,-0.020169,287313.13,-0.007741,NaN,-0.048545,NaN
66265,2023-02-03,41700,283894.34,-0.018878,289456.66,-0.005988,NaN,-0.042751,NaN
66365,2023-02-10,41700,283960.13,-0.018610,289882.09,-0.005581,NaN,-0.035205,NaN
66465,2023-02-17,41700,286668.03,-0.004662,291308.75,0.002661,NaN,-0.025309,NaN
66565,2023-02-24,41700,287313.13,0.013309,291659.03,0.003289,NaN,-0.018187,NaN

### Macro data preparation

In [33]:
# Define keys that can be imported through the API
ids_FRED = {'KeyRate': 'DFF', 'CPI': 'CPIAUCSL', 'VIX': 'VIXCLS', 'PPI': 'PCU44414441', 'MortgageRate30': 'MORTGAGE30US', 
            'Electricity': 'CUSR0000SEHF01', 'Water': 'CUSR0000SEHG', 'Plywood': 'WPU083', 'Steel': 'WPU101',
            'Glass': 'PCU3272132721', 'Concrete': 'PCU32733273', 'Unemployment': 'UNRATE', 'Yield10Y': 'DGS10',
            'Case-Shiller': 'SPCS20RSA'}
ids_YFINANCE = {'DJI': '^DJI', 'S&P500': '^GSPC'}
FRED_keys = [key for key in ids_FRED]
YFINANCE_keys = [key for key in ids_YFINANCE]

# Import data from FRED API
FRED = pd.DataFrame(columns = ['date'])
for key in FRED_keys:
    FRED_key = pf.get_series(series_id = ids_FRED[key], api_key = api_key)[['date', 'value']]
    FRED_key.rename(columns = {'value': key}, inplace = True)
    FRED = FRED.merge(FRED_key, on = 'date', how = 'outer')
FRED.sort_values('date', ascending = True, inplace = True)
FRED = FRED[FRED['date'] >= pd.to_datetime('2003-01-01')]

# Import data from Yahoo Finance API
YFINANCE = pd.DataFrame(columns = ['date'])
for key in YFINANCE_keys:
    YFINANCE_key = yf.download(tickers = ids_YFINANCE[key], period = "max", interval = "1d", group_by = 'ticker', auto_adjust = True, progress = False, threads = True)
    YFINANCE_key.reset_index(inplace = True)
    YFINANCE_key = YFINANCE_key[['Date', 'Close']]
    YFINANCE_key.rename(columns = {'Date': 'date', 'Close': key}, inplace = True)
    YFINANCE = YFINANCE.merge(YFINANCE_key, on = 'date', how = 'outer')
YFINANCE.sort_values('date', ascending = True, inplace = True)
YFINANCE = YFINANCE[YFINANCE['date'] >= pd.to_datetime('2003-01-01')]

# Merging all dataframes in one, interpolating nans and saving to parquet
macro = FRED.merge(YFINANCE, on = 'date', how = 'outer')
macro[macro.columns[1:]] = macro[macro.columns[1:]].interpolate(limit_direction = 'forward', limit_area = 'inside', axis = 0)
macro.dropna(inplace = True)
macro.sort_values('date', ascending = True, inplace = True)
macro.to_parquet(directory + 'Data/macro.parquet', index = False)
macro

,date,KeyRate,CPI,VIX,PPI,MortgageRate30,Electricity,Water,Plywood,Steel,Glass,Concrete,Unemployment,Yield10Y,Case-Shiller,DJI,S&P500
334,2003-12-01,1.03,185.500000,16.7700,100.000000,5.945714,140.500000,120.000000,192.100000,128.400000,100.000000,100.000000,5.7,4.4000,150.758971,9899.049805,1070.119995
335,2003-12-02,0.97,185.525806,16.2700,100.080645,5.964286,140.500000,120.019355,191.529032,128.580645,100.006452,100.029032,5.7,4.3800,150.819168,9853.639648,1066.619995
336,2003-12-03,0.98,185.551613,16.6300,100.161290,5.982857,140.500000,120.038710,190.958065,128.761290,100.012903,100.058065,5.7,4.4100,150.879366,9873.419922,1064.729980
337,2003-12-04,0.99,185.577419,16.3000,100.241935,6.001429,140.500000,120.058065,190.387097,128.941935,100.019355,100.087097,5.7,4.3800,150.939563,9930.820312,1069.719971
338,2003-12-05,0.98,185.603226,17.0900,100.322581,6.020000,140.500000,120.077419,189.816129,129.122581,100.025806,100.116129,5.7,4.2300,150.999760,9862.679688,1061.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7666,2023-12-28,5.33,309.563323,12.4700,205.678129,6.610000,276.524097,296.279161,284.229452,335.777839,168.484032,243.107774,3.7,3.8400,322.164732,37710.101562,4783.350098
7667,2023-12-29,5.33,309.593742,12.4500,205.656097,6.611429,276.631323,296.382871,284.259839,336.142129,168.525774,243.268581,3.7,3.8800,322.179396,37689.539062,4769.830078
7668,2023-12-30,5.33,309.624161,12.6375,205.634065,6.612857,276.738548,296.486581,284.290226,336.506419,168.567516,243.429387,3.7,3.8975,322.194059,37695.914062,4763.080078
7669,2023-12-31,5.33,309.654581,12.8250,205.612032,6.614286,276.845774,296.590290,284.320613,336.870710,168.609258,243.590194,3.7,3.9150,322.208722,37702.289062,4756.330078
7670,2024-01-01,5.33,309.685000,13.0125,205.590000,6.615714,276.953000,296.694000,284.351000,337.235000,168.651000,243.751000,3.7,3.9325,322.223385,37708.664062,4749.580078

### Final datasets creation

In [52]:
# Importing both of the datasets 
target = pd.read_parquet(directory + 'Data/target.parquet')
macro = pd.read_parquet(directory + 'Data/macro.parquet')
target_2008 = macro[['date', 'Case-Shiller']].rename(columns = {'Case-Shiller': 'target'})
target_2008['target'] *= 1000
macro.drop(columns = ['Case-Shiller'], inplace = True)
macro_dyn = pd.DataFrame(target['date'].unique(), columns = ['date']).merge(macro, on = 'date', how = 'inner')

# Filtering weekly dates for 2008 dataset
CS_dates = []
start_date = macro_dyn['date'].max()
for i in range(1, 1500):
    CS_dates.append(start_date - pd.DateOffset(weeks = i))
    CS_dates.append(start_date + pd.DateOffset(weeks = i))
target_2008 = target_2008[target_2008['date'].isin(CS_dates)]
macro_dyn_2008 = target_2008.merge(macro, on = 'date', how = 'inner')

# Calculating log dynamics of the macro data with different lags
cols = macro_dyn.columns[1:].copy()
cols_2008 = macro_dyn_2008.columns[1:].copy()
for lag in lags:
    for col in cols:
        macro_dyn[f'{col}_{lag}_week_logdyn'] = np.log(macro_dyn[col] / macro_dyn[col].shift(lag))
    for col in cols_2008:
        macro_dyn_2008[f'{col}_{lag}_week_logdyn'] = np.log(macro_dyn_2008[col] / macro_dyn_2008[col].shift(lag))
    macro_dyn_2008[f'target_{lag}_week_fut'] = macro_dyn_2008['target'].shift(-lag)
targets = [f'target_{lag}_week_fut' for lag in lags]
macro_dyn_2008.dropna(subset = macro_dyn_2008.columns[~macro_dyn_2008.columns.isin(targets)], inplace = True)
macro_dyn_2008.dropna(subset = targets, thresh = len(targets) - 1, inplace = True)
macro_dyn_2008.sort_values('date', ascending = True, inplace = True)
macro_dyn_2008.set_index('date', drop = True, inplace = True)
macro_dyn_2008.to_parquet(directory + 'Data_for_models/final_CS.parquet')

# Merging dataset with all columns
final_full = target.merge(macro_dyn, on = 'date', how = 'inner')
final_full.sort_values('date', ascending = True, inplace = True)
final_full.dropna(subset = final_full.columns[~final_full.columns.isin(targets)], inplace = True)
final_full.dropna(subset = targets, thresh = len(targets) - 1, inplace = True)

# Getting additional dataset for EDA
eda_cols = [col for col in final_full.columns if ('target' not in col) & (col != 'msa')]
final_eda = final_full[eda_cols]
final_eda = final_eda[~final_eda['date'].duplicated(keep = 'first')]
final_eda.to_parquet(directory + 'Data_for_models/final_eda.parquet', index = False)

# Adding log to target and st_sc to other variables
final_full.set_index(['date', 'msa'], drop = True, inplace = True)
if log == True:
    log_cols = [col for col in final_full.columns if '_week_fut' in col] + ['target']
    for col in log_cols:
        final_full[col] = np.log(final_full[col])
if st_sc == True:
    st_sc_cols = [col for col in final_full.columns if ('_week_fut' not in col) & (col != 'target')]
    for col in st_sc_cols:
        stsc = StandardScaler()
        final_full[col] = stsc.fit_transform(np.asarray(final_full[col]).reshape(-1,1))

# Saving the final dataset
final_full.to_parquet(directory + 'Data_for_models/final_full.parquet')
final_full

                     target  target_4_week_logdyn  target_4_week_fut  \
date       msa
2010-07-23 40140  12.091597             -1.337242          12.086362
           14860  12.982234             -0.239927          12.947834
           16740  11.876632              0.268098          11.878821
           18140  11.906633             -0.294054          11.901286
           29460  11.607702             -1.207213          11.600767
...                     ...                   ...                ...
2022-12-23 28940  12.631162              0.208526          12.651034
           28140  12.498875             -0.363737          12.526143
           27260  12.685139              0.306945          12.721071
           26420  12.551516             -0.902134          12.555897
           49340  12.906514             -1.537593          12.923126

                  target_13_week_logdyn  target_13_week_fut  \
date       msa
2010-07-23 40140              -1.490322           12.077864
           14860              -0.346137           12.944902
           16740              -1.124808           11.861011
           18140              -0.475808           11.891338
           29460              -4.143949           11.627712
...                                 ...                 ...
2022-12-23 28940              -0.360635           12.674565
           28140              -0.127202           12.574778
           27260              -0.738489           12.696138
           26420              -1.277072           12.556165
           49340              -0.647695           12.946637

                  target_26_week_logdyn  target_26_week_fut   KeyRate  \
date       msa
2010-07-23 40140              -0.558630           12.045731 -0.661893
           14860              -0.460846           12.896931 -0.661893
           16740              -0.495192           11.797568 -0.661893
           18140              -0.139115           11.840756 -0.661893
           29460              -1.744808           11.518004 -0.661893
...                                 ...                 ...       ...
2022-12-23 28940              -0.133382                 NaN  3.711128
           28140              -0.751806                 NaN  3.711128
           27260              -1.526345                 NaN  3.711128
           26420              -1.367316                 NaN  3.711128
           49340              -0.698731                 NaN  3.711128

                       CPI       VIX  ...  Electricity_26_week_logdyn  \
date       msa                        ...
2010-07-23 40140 -1.866480  0.672706  ...                  -14.196667
           14860 -1.866480  0.672706  ...                  -14.196667
           16740 -1.866480  0.672706  ...                  -14.196667
           18140 -1.866480  0.672706  ...                  -14.196667
           29460 -1.866480  0.672706  ...                  -14.196667
...                    ...       ...  ...                         ...
2022-12-23 28940  2.454162  0.325192  ...                    0.994011
           28140  2.454162  0.325192  ...                    0.994011
           27260  2.454162  0.325192  ...                    0.994011
           26420  2.454162  0.325192  ...                    0.994011
           49340  2.454162  0.325192  ...                    0.994011

                  Water_26_week_logdyn  Plywood_26_week_logdyn  \
date       msa
2010-07-23 40140            -49.537728               -3.188425
           14860            -49.537728               -3.188425
           16740            -49.537728               -3.188425
           18140            -49.537728               -3.188425
           29460            -49.537728               -3.188425
...                                ...                     ...
2022-12-23 28940              0.797408               -0.984064
           28140              0.797408               -0.984064
           27260              0.797408               -0.984064
           26420              0.797408               -0.984064
           49340              0.797408               -0.984064

                  Steel_26_week_logdyn  Glass_26_week_logdyn  \
date       msa
2010-07-23 40140             -3.074999            -23.961762
           14860             -3.074999            -23.961762
           16740             -3.074999            -23.961762
           18140             -3.074999            -23.961762
           29460             -3.074999            -23.961762
...                                ...                   ...
2022-12-23 28940             -1.661138              1.645248
           28140             -1.661138              1.645248
           27260             -1.661138              1.645248
           26420             -1.661138              1.645248
           49340             -1.661138              1.645248

                  Concrete_26_week_logdyn  Unemployment_26_week_logdyn  \
date       msa
2010-07-23 40140               -24.786627                     3.419467
           14860               -24.786627                     3.419467
           16740               -24.786627                     3.419467
           18140               -24.786627                     3.419467
           29460               -24.786627                     3.419467
...                                   ...                          ...
2022-12-23 28940                 1.654031                     0.034731
           28140                 1.654031                     0.034731
           27260                 1.654031                     0.034731
           26420                 1.654031                     0.034731
           49340                 1.654031                     0.034731

                  Yield10Y_26_week_logdyn  DJI_26_week_logdyn  \
date       msa
2010-07-23 40140                -0.478317          -13.732082
           14860                -0.478317          -13.732082
           16740                -0.478317          -13.732082
           18140                -0.478317          -13.732082
           29460                -0.478317          -13.732082
...                                   ...                 ...
2022-12-23 28940                 0.437674            0.126695
           28140                 0.437674            0.126695
           27260                 0.437674            0.126695
           26420                 0.437674            0.126695
           49340                 0.437674            0.126695

                  S&P500_26_week_logdyn
date       msa
2010-07-23 40140             -14.828268
           14860             -14.828268
           16740             -14.828268
           18140             -14.828268
           29460             -14.828268
...                                 ...
2022-12-23 28940              -0.690866
           28140              -0.690866
           27260              -0.690866
           26420              -0.690866
           49340              -0.690866

[43947 rows x 67 columns]